@media screen and (min-width: 600px) {
    /* Navigation */

    
    header h1{
        font-size: 3.5rem;
    }

    #menu {
        display:none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        list-style: none;
        padding: 0;

    }

    .navigation li {
        padding: 10px 20px;
    }

    .navigation li a {
        color: var(--color-dark-green);
        text-decoration: none;
        transition: color 0.3s ease;
        font-size: 1.5rem;
    }

    .navigation li a:hover {
        font-size: 2rem;
    }
}

/*FOOTER*/

.orange {
    height: 25px;

}

/* CARDS */

.cards {
    grid-template-columns: repeat(5, 1fr);
}
