:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --color-deep-blue: rgb(2, 20, 39);
    --color-red: rgb(174, 17, 17);

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-deep-blue);
    color: white;
}

header img {
    width: 150px;
    height: auto;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 1.5rem;
    color: white;
    background-color: var(--color-deep-blue);
    padding: 10px;
}

h3 {
    background-color: var(--color-deep-blue);
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;

}

/* NAVIGATOR */

.navigation {
    display: none;
}

.navigation.show {
    display: block;


}

#menu {
    font-size: 3em;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-left: 15px;
}

/* PICTURE TOP */

picture {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

picture img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

.sec1 {
    height: 300px;
}

/*HOME*/

.secindex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.column {
    width: 100%;
    text-align: center;
}

.column h3 {
    margin-bottom: 10px;
}

#weather,
#forecast,
#events {
    background-color: rgb(208, 205, 205);
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}



/* FOOTER */

footer {
    background-color: var(--color-deep-blue);
    color: white;
    font-weight: lighter;
    font-size: 14px;
    height: 100%;
    justify-content: center;
    display: block;
    max-width: 100%;
    margin-bottom: 0;
    margin-top: 8px;
}

footer p {
    margin: 1px 0px 2px 0px;
    text-align: center;
    color: white;
}

.p1 {
    padding-top: 7px;
}

.p2 {
    padding-bottom: 7px;
}

/* VISTAS /*

/* Estilos base para las tarjetas */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;

}

.card {
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;

}

.card h2 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
    color: #333;

}

.card p {
    font-size: 0.9rem;
    color: #666;
    margin: 0.5rem 0;
}

/* Vista en grid */
.grid-view .card {
    flex: 1 1 calc(33.333% - 1rem);
    box-sizing: border-box;
}

/* Vista en lista */
.list-view {
    flex-direction: column;
}

.list-view .card {
    flex: 1 1 100%;
    max-width: 100%;

}